.navbar-btn-on-off
{
	float:left;
	margin-right: 10px;
}
.td-title
{
	width: 25%;
}
.td-value
{

}
.img-logo
{
	width: 50px;
	padding-right: 10px;
}
.heading-title
{
	color : blue !important;
}
#alarm-notify-icon
{
	border:none;
	background: #FF00CC;
	width: 20px;
	height: 20px;
}
.alarm
{
	color : #FF00CC;
}
.block-infos
{
	margin-top:30px ;
}
.block-infos *
{
	font-size:20px;
}
.block-infors .panel-default
{
	height:185px;
}
.graph-value
{
	height:122px;
}
#div_Alarm
{
	height:175px;
}
#btnOnOff
{
	width:70px;
}
.icon-menu
{
	display : inline;
	margin-left : 20px;
}
.plc-on:hover,.plc-off:hover
{
	border: solid 5px;
}
.plc-on,.plc-on:focus
{
	/* background-image: url("../img/N2machine_Start.png"); */
	color:white;
}
.plc-off,.plc-off:focus
{
	/* background-image: url("../img/N2machine_Stop.png"); */
	color:white;
}
.block-infos .heading-title
{
	padding-left: 8px;
}
#btnConfig
{
	float:right;
}
.modal-body .row
{
	margin-bottom:5px;
}
.modal-body .row select
{
	width : 100px;
}
.bs-form {
margin-right: auto;
margin-left: auto;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
border-style: solid;
position: relative;
padding: 45px 15px 15px;
width:820px;
margin-top: 20px;
}
.bs-form *
{
	font-size: 20px;
}
#ddlRemoveLocal
{
	margin-top: 5px;
	width: 150px;
}
.btn-back
{
	font-size:30px;
}
.menu-name
{
	font-size:24px;
	margin-left: 30px;
}





