.navbar-btn-on-off
{
	float:left;
	margin-right: 10px;
}
.td-title
{
	width: 25%;
}
.td-value
{

}
.img-logo
{
	width: 50px;
	padding-right: 10px;
}
.heading-title
{
	color : blue !important;
}
#alarm-notify-icon
{
	border:none;
	background: #FF00CC;
	width: 20px;
	height: 20px;
}
.alarm
{
	color : #FF00CC;
}
.block-infos
{
	margin-top:30px ;
}
.block-infos *
{
	font-size:20px;
}
.block-infors .panel-default
{
	height:185px;
}
.graph-value
{
	height:122px;
}
#btnOnOff
{
	width:70px;
}
.icon-menu
{
	display : inline;
	margin-left : 20px;
}
.plc-on,.plc-on:focus
{
	background: #33CC00;
	color:white;
}
.plc-off,.plc-off:focus
{
	background: red;
	color:white;
}





